body{
    background-color: lightblue;
    background-image: url("https://www.pngarts.com/files/3/Spider-Man-Standing-Transparent-Background-PNG.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25%;
}